<!-- View for photos -->
<div>
    <h1>Here you can read more about me</h1>
    <ul class="photos">
    <li><img src="/images/graph.png" alt=""></li>
    </ul>
    <p>Here will be some info about me</p>
</div>