<!-- View for photos -->
<div>
    <h1>Here you can read more about me</h1>
    <img src="/images/fg.jpg" alt="" class="aboutpic">
    <p>I am a photographer who loves nature and animals. 
        I have photographed stunning landscapes, wildlife and pets in different parts of the world. 
        In my photographic style, I strive to bring out the beauty of nature and the personality of the creatures. 
        I want to share these moments with you and capture them in photos that you can draw and enjoy. 
        <a href="/subscribe">Subscribe to my page to see upcoming photos!</a>
    </p>
</div>