<!-- View for photos -->
<div>
    <h1>I am Photo McGrapher</h1>
    <ul class="photos">
    <li><img src="/images/photographer.jpg" alt=""></li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum metus et porttitor tristique. Cras nec lectus vel odio egestas pharetra. 
        Mauris nec mauris interdum, vulputate urna in, egestas ante.v Ut faucibus laoreet mauris, et lobortis est tempus et. Integer consequat tincidunt tincidunt. 
        Vivamus quis eros euismod, vestibulum lacus vel, gravida diam. Nunc feugiat, ante quis tempor faucibus, arcu metus accumsan ipsum, id imperdiet est libero et orci. 
        Cras in risus eu ante eleifend pulvinar. Vivamus semper ipsum augue, imperdiet tristique velit semper in. Pellentesque luctus suscipit volutpat. Aliquam erat volutpat.</p>

    <p>Pellentesque euismod commodo interdum. Vestibulum iaculis fermentum sodales. Suspendisse ullamcorper ut lorem a gravida. 
        Suspendisse finibus auctor ante, eu ullamcorper lacus tempor nec. Etiam arcu dui, rutrum quis ultricies et, feugiat in felis. 
        Aenean laoreet ultrices nisl, at scelerisque nisi blandit vitae. Aliquam egestas, enim sed varius bibendum, augue eros gravida augue, finibus pellentesque mi ligula mollis sem. 
        Ut pulvinar neque nisi, commodo rutrum augue facilisis nec. Nulla lacus risus, vestibulum aliquam molestie at, fringilla et urna. 
        Vivamus vitae est tincidunt purus ornare scelerisque eu sit amet diam. Maecenas vel sem purus. Aenean tempor tempor urna sed euismod. Phasellus orci purus, egestas at blandit ac, malesuada non eros. 
        Cras vel dolor metus. Suspendisse consequat, leo eget congue porttitor, libero massa laoreet velit, eu aliquam lorem mauris ut turpis.</p>

    <p>Nunc facilisis erat non quam facilisis, ut laoreet felis tincidunt. In vestibulum quam tellus, eget interdum libero vehicula sit amet. 
        Fusce vel risus quis nisl gravida hendrerit ut in lorem. Nunc vel ligula at urna euismod venenatis at nec turpis. Pellentesque sed nulla viverra nisi ultrices eleifend. 
        Pellentesque at pharetra erat. Mauris ut augue sit amet mi convallis varius a sit amet justo. Morbi sit amet varius ex.</p>

    <p>Aliquam mollis libero at odio vulputate, at porta nulla aliquam. Sed lobortis nunc augue, efficitur euismod massa blandit et. 
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin molestie sem eget sapien luctus feugiat. 
        Aliquam facilisis, turpis non ultricies finibus, massa leo consectetur massa, non varius quam ex eget massa. 
        Mauris maximus tempor sem, non pharetra enim tincidunt quis. Aliquam erat volutpat. Ut euismod odio vitae tellus dignissim, eleifend suscipit nibh pulvinar. 
        Nulla ut egestas turpis.</p>

    <p>Vestibulum mi dolor, scelerisque eu hendrerit at, tincidunt ut massa. Donec aliquet tincidunt nisi. Integer consectetur vitae magna vitae hendrerit. Integer velit quam, bibendum eget scelerisque non, vulputate eget nisl. Integer nec odio quis ante consequat commodo eu a purus. Donec sollicitudin posuere semper. Aenean euismod nulla eget viverra cursus. Nullam eleifend orci metus, id dictum nisi bibendum convallis. Fusce sem metus, rhoncus vel luctus a, tincidunt auctor nulla. Cras nec iaculis velit, in rhoncus arcu. Praesent facilisis mi et lorem egestas, ut scelerisque ex placerat. Phasellus bibendum nisi id feugiat placerat. Integer egestas et purus et interdum. Aenean ac velit dapibus, imperdiet sapien scelerisque, fringilla ex. In finibus nunc in nibh aliquam, a porttitor metus gravida.</p>
</div>