<!-- View for homepage -->
<div class="small-line">
    <h1>Welcome to my homepage!</h1>
    <img src="images/chillview.jpg"  alt="" class="indexpic">
    <p>Hello!</p>
    <p>On this page I publish <a href="/photos">my photos</a> and <a href="/blog">blog posts</a>.</p>
    <p>You can also check more <a href="/aboutme">about me!</a></p>
</div>