<div class="container">
    <div>
        <img src="images/people.jpg" alt="">
    </div>
    <div class="col-sm-6">
        <h1>Welcome to my homepage!</h1>
        <p> This is my homepage wohoo</p>
    </div>
</div>