<!-- View for homepage -->
<div>
    <div class="small-line">
        <h1>Welcome to my homepage!</h1>
    </div>
    <ul class="photos">
    <li><img src="images/chillview.jpg"  alt=""></li>
    </ul>
    <h4>Hello!</h4>
    <p>My name is Photo McGrapher and I'm an amateur photographer with over twenty years of experience.</p>
    <br>
    <p>On this site You can see photos I have taken here in <a href="/photos">art gallerie</a> and I also write <a href="/blog">blog</a> about photographing as a hobby.</p>
    <br>
    <p>Get know <a href="/aboutme">me</a> better</p>

</div>