<!-- View for layouts -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Photopage</title>
    <link rel="shortcut icon" type="image/png" href="/images/cameraicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div>
        <div class="flashes">
            <% if (flashMessages) { %>
                <% if (flashMessages.success) { %>
                    <div class="flash success"><%= flashMessages.success %></div>
                <% } else if (flashMessages.error) { %>
                    <div class="flash error"><%= flashMessages.error %></div>
                    <% } %>
                <% } %>
        </div>
        <% if(loggedIn) { %>
            logged in as admin.
            <a href="/logout">Logout</a>
        <% } %>
        <div>
            <h3>FocusPoint</h1>
            <img src="/images/navphoto.jpg" alt="" class="navphoto">
        </div>
        <div>
            
            <a href="/">
                <button type="button">Home</span>
            </a>
            <a href="/photos">
                <button type="button">Photos</span>
            </a>
            <a href="/aboutme">
                <button type="button">About me</span>
            </a>
            <a href="/blog">
                <button type="button">Blog</span>
            </a>
            <a href="/subscribe">
                <button type="button">Subscribe</span>
            </a>
            <a href="/login">
                <button type="button">Login</span>
            </a>
        </div>
    </div>

    <%- body %>

        <div>
            <a class="footer" href="https://pixabay.com/">Photos used in project are royalty-free and taken
                from Pixbay.</a>
        </div>

</body>

</html>