<!-- View for layouts -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Photopage</title>
    <link rel="shortcut icon" type="image/png" href="/images/cameraicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div>
        <div>
            <img src="/images/navphoto.jpg" alt="" class="navphoto">
            <h1 id="title">Photo Boi</h1>
        </div>
        <div class="col-sm nav-align">
            <a href="/">
                <button type="button">Home</span>
            </a>
            <a href="/photos">
                <button type="button">Photos</span>
            </a>
            <a href="/info">
                <button type="button">About me</span>
            </a>
            <a href="/blog">
                <button type="button">blog</span>
            </a>
        </div>
    </div>

    <%- body %>

    <div>
        <a style="font-size: small;" href="https://pixabay.com/">Photos used in project are royalty-free and taken from Pixbay.</a>
    </div>

</body>

</html>