<!-- View for photos -->
<div>
    <h1>My photos</h1>
    <p>Here are my photos enjoy! =)</p>
    <ul class="test">
    <li><img  src="images/fruit.jpg" alt="" ></li>
    <li><img  src="images/leaf.jpg"  alt="" ></li>
    <li><img  src="images/cat2.jpg"  alt="" ></li>
    <li><img  src="images/dog.jpg"  alt="" style="width: 100%; height: auto;"></li>
    <li><img  src="images/nature.jpg"  alt="" ></li>
    <li><img  src="images/nature2.jpg"  alt="" ></li>
    <li><img  src="images/dog2.jpg"  alt="" ></li>
    </ul>
</div>