<!-- View for photos -->
<div>
    <h1>My photos</h1>
    <p>Here are my photos enjoy! =)</p>
        <img class="photo" src="images/fruit.jpg" alt="">
        <img class="photo" src="images/leaf.jpg"  alt="">
        <img class="photo" src="images/cat2.jpg"  alt="">
        <img class="photo" src="images/dog.jpg"  alt="">
        <img class="photo" src="images/nature.jpg"  alt="">
        <img class="photo" src="images/nature2.jpg"  alt="">
        <img class="photo" src="images/dog2.jpg"  alt="">
</div>