<!-- View for photos -->
<div>
    <h1>My photos</h1>
    <p>Here are my photos enjoy! =)</p>
        <img src="images/fruit.jpg" alt="">
        <img src="images/leaf.jpg"  alt="">
        <img src="images/cat2.jpg"  alt="">
</div>