h3 {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.gallerie h1 {
    font-family: cursive;
    font-size: xx-large;
}
body {
    text-align: center;
    background-image: repeating-linear-gradient(#eeddaec7, #f2bc6b);
}
.small-line p {
    line-height: 0.3;
}
.navphoto {
    height:200px;
}
.container {
    position: relative;
    text-align: center;
}
.centered {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    margin-right: 1px;
}
.footer {
    font-size: small;
    bottom: 10px; 
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.photos > li {
    flex-basis: 500px; /* width: 350px; */
    list-style-type: none;
}
.photos li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
}
.form-control {
    margin: auto;
    width: 200px;
    border: 3px dotted black;
    padding: 10px;
}
.login-btn {
    top:50%;
    background-color: grey;
    color: black;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:20px; 
    min-width: 100px;
}
.login-btn:hover {
    background-color: yellow;
    transition: 0.7s;
    }
.textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
#chatBox {
    border: 10px;
    height: 100px;
    max-height:100px;
    overflow:scroll;
}
@media only screen and (max-width: 700px){
    .photo{
        display: block;
        flex: 50%
    }
}